<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calendar Booking Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
    .table-primary {
        background-color: #b8daff;
    }
    .bg-info {
        background-color: #d1ecf1;
    }
    .text-muted {
        color: #6c757d;
    }
    .calendar a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: inherit;
    }
    .calendar td {
        text-align: center;
        vertical-align: middle;
    }
    .selected-week {
        background-color: #ffeeba; /* Light yellow background */
    }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Booking Service</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'available_slots_week' %}">Available Slots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_bookings' %}">My Bookings</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Hello, {{ user.username }}!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

