{% extends 'booking/base.html' %}

{% block content %}
<h2>My Bookings</h2>

{% if bookings %}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Booked On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time_slot }}</td>
                <td>{{ booking.created_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <form action="{% url 'cancel_booking' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="booking_id" value="{{ booking.id }}">
                    <button type="submit" class="btn btn-danger">Delete </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have no bookings.</p>
{% endif %}
{% endblock %}

